*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  font-size: 62.5%; // 1 rem = 10px  10px/16px = 62.5

  @include respond(tab-land) { // width < 900px
    font-size: 56.25%;  // 1 rem = 9 px
  }
  @include respond(tab-port) { // width < 600px
    font-size: 50%;  // 1 rem = 8 px
  }
  @include respond(phone) { // width < 600px
    font-size: 30%;  // 1 rem = 8 px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px
  }
}

body {
  box-sizing: border-box;
}